In [149]:
import pandas as pd 
import numpy as np

In [150]:
df_present = pd.read_csv("Carmichael_grade3_math_meanImpute_ED_CE.csv")
df_present

,Local ID,Special Ed Indicator,LEP,Ethnicity,Meal Status,CE,Percent Score mock 1,Percent Score mock 2,Percent Score final
0,946936,No,LEP,Hispanic,01 - Free,yes,0.38,0.19,0.31
1,962749,Yes,LEP,Hispanic,01 - Free,yes,0.34,0.22,0.44
2,961434,No,Other Non-LEP Student,Hispanic,01 - Free,yes,0.53,0.72,0.94
3,961315,No,Other Non-LEP Student,Hispanic,01 - Free,no,0.22,0.47,0.66
4,962270,No,Other Non-LEP Student,Hispanic,01 - Free,yes,0.34,0.50,0.75
...,...,...,...,...,...,...,...,...,...
85,945628,No,LEP,Hispanic,01 - Free,yes,0.34,0.46,0.50
86,962866,No,LEP,Hispanic,01 - Free,yes,0.19,0.37,0.41
87,319968,No,LEP,Hispanic,01 - Free,no,0.34,0.66,0.75
88,962320,No,LEP,Hispanic,02 - Reduced,no,0.25,0.44,0.50
89,967853,No,First Year of Monitoring,Asian,02 - Reduced,yes,0.44,0.72,0.75

In [151]:
#hot code 

df1 = pd.get_dummies(data=df_present,columns=["LEP"])
df1

df2 = pd.get_dummies(data=df1,columns=["Ethnicity"])
df2

df3 = df2.rename(columns={'Special Ed Indicator': 'Special_Ed_Ind'})
df3

df4 = df3.rename(columns={'Meal Status': 'Meal_Stat'})
df4

#change to binary
df4['Special_Ed_Ind']= df4.Special_Ed_Ind.map(dict(Yes=1, No=0))
df4

df4['CE']= df4.CE.map(dict(yes=1, no=0))
df4

mapping = {'01 - Free': 1, '02 - Reduced': 1, 'no': 0}
df4 = df4.replace({'Meal_Stat': mapping})
df4

,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,Percent Score final,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White
0,946936,0,1,1,0.38,0.19,0.31,0,1,0,0,0,0,1,0,0
1,962749,1,1,1,0.34,0.22,0.44,0,1,0,0,0,0,1,0,0
2,961434,0,1,1,0.53,0.72,0.94,0,0,1,0,0,0,1,0,0
3,961315,0,1,0,0.22,0.47,0.66,0,0,1,0,0,0,1,0,0
4,962270,0,1,1,0.34,0.50,0.75,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,945628,0,1,1,0.34,0.46,0.50,0,1,0,0,0,0,1,0,0
86,962866,0,1,1,0.19,0.37,0.41,0,1,0,0,0,0,1,0,0
87,319968,0,1,0,0.34,0.66,0.75,0,1,0,0,0,0,1,0,0
88,962320,0,1,0,0.25,0.44,0.50,0,1,0,0,0,0,1,0,0
89,967853,0,1,1,0.44,0.72,0.75,1,0,0,0,1,0,0,0,0

In [152]:
#move first column to the end
cols = list(df4.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('Percent Score final')) #Remove b from list
df5 = df4[cols+['Percent Score final']] #Create new dataframe with columns in the order you want
#len(df_new2.columns)
df5

,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White,Percent Score final
0,946936,0,1,1,0.38,0.19,0,1,0,0,0,0,1,0,0,0.31
1,962749,1,1,1,0.34,0.22,0,1,0,0,0,0,1,0,0,0.44
2,961434,0,1,1,0.53,0.72,0,0,1,0,0,0,1,0,0,0.94
3,961315,0,1,0,0.22,0.47,0,0,1,0,0,0,1,0,0,0.66
4,962270,0,1,1,0.34,0.50,0,0,1,0,0,0,1,0,0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,945628,0,1,1,0.34,0.46,0,1,0,0,0,0,1,0,0,0.50
86,962866,0,1,1,0.19,0.37,0,1,0,0,0,0,1,0,0,0.41
87,319968,0,1,0,0.34,0.66,0,1,0,0,0,0,1,0,0,0.75
88,962320,0,1,0,0.25,0.44,0,1,0,0,0,0,1,0,0,0.50
89,967853,0,1,1,0.44,0.72,1,0,0,0,1,0,0,0,0,0.75

In [153]:
ID = df5.iloc[:, 0:1]
X = df5.iloc[:, 0:15]
y = df5['Percent Score final']

In [154]:
ID

    Local ID
0     946936
1     962749
2     961434
3     961315
4     962270
..       ...
85    945628
86    962866
87    319968
88    962320
89    967853

[90 rows x 1 columns]

In [155]:
X

,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White
0,946936,0,1,1,0.38,0.19,0,1,0,0,0,0,1,0,0
1,962749,1,1,1,0.34,0.22,0,1,0,0,0,0,1,0,0
2,961434,0,1,1,0.53,0.72,0,0,1,0,0,0,1,0,0
3,961315,0,1,0,0.22,0.47,0,0,1,0,0,0,1,0,0
4,962270,0,1,1,0.34,0.50,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,945628,0,1,1,0.34,0.46,0,1,0,0,0,0,1,0,0
86,962866,0,1,1,0.19,0.37,0,1,0,0,0,0,1,0,0
87,319968,0,1,0,0.34,0.66,0,1,0,0,0,0,1,0,0
88,962320,0,1,0,0.25,0.44,0,1,0,0,0,0,1,0,0
89,967853,0,1,1,0.44,0.72,1,0,0,0,1,0,0,0,0

In [156]:
y

0     0.31
1     0.44
2     0.94
3     0.66
4     0.75
      ...
85    0.50
86    0.41
87    0.75
88    0.50
89    0.75
Name: Percent Score final, Length: 90, dtype: float64

In [157]:
from sklearn.model_selection import train_test_split

In [158]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [159]:
X_train

,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White
39,961473,0,1,1,0.19,0.22,0,0,1,0,0,0,1,0,0
50,961303,0,1,0,0.19,0.44,0,0,1,0,0,0,1,0,0
6,963561,0,1,1,0.44,0.44,0,0,1,0,0,1,0,0,0
71,307376,0,1,1,0.22,0.41,0,1,0,0,0,0,1,0,0
56,990642,0,1,1,0.66,0.81,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,965348,0,0,1,0.34,0.69,0,0,1,0,0,0,0,0,1
28,939939,0,1,1,0.50,0.84,0,0,1,0,0,0,1,0,0
64,951611,0,1,1,0.66,0.91,1,0,0,0,0,0,1,0,0
15,991027,0,1,1,0.59,0.47,0,1,0,0,0,0,1,0,0
9,947652,0,1,1,0.38,0.50,0,1,0,0,0,0,1,0,0

In [160]:
X_test

,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White
76,934217,0,1,1,0.38,0.34,0,1,0,0,0,0,1,0,0
26,961224,0,1,1,0.28,0.22,0,1,0,0,0,0,1,0,0
3,961315,0,1,0,0.22,0.47,0,0,1,0,0,0,1,0,0
35,962774,0,1,1,0.56,0.53,0,0,0,1,0,0,1,0,0
19,968592,0,0,0,0.38,0.44,0,1,0,0,0,0,1,0,0
14,310664,1,1,0,0.47,0.34,0,1,0,0,0,0,1,0,0
37,313433,0,0,0,0.66,0.78,0,1,0,0,0,0,1,0,0
68,965984,0,0,0,0.69,0.69,0,1,0,0,1,0,0,0,0
38,962325,0,1,1,0.78,0.91,0,0,0,1,0,0,1,0,0
21,979790,1,1,1,0.41,0.31,0,1,0,0,0,0,1,0,0
61,971073,0,1,1,0.38,0.66,0,0,1,0,0,0,1,0,0
63,962283,0,1,1,0.53,0.91,1,0,0,0,0,0,1,0,0
48,312420,0,1,0,0.56,0.69,0,0,1,0,0,0,0,1,0
60,990313,0,1,1,0.44,0.28,0,1,0,0,0,0,1,0,0
82,954724,1,1,1,0.31,0.19,0,0,1,0,0,1,0,0,0
41,981048,0,1,1,0.59,0.59,0,1,0,0,0,0,1,0,0
59,962203,0,1,1,0.47,0.69,0,1,0,0,0,0,1,0,0
45,312417,0,1,0,0.53,0.78,0,0,1,0,0,0,0,1,0

In [161]:
y_test

76    0.81
26    0.56
3     0.66
35    0.81
19    0.47
14    0.69
37    0.94
68    0.72
38    1.00
21    0.66
61    0.78
63    0.78
48    0.75
60    0.44
82    0.25
41    0.69
59    0.75
45    0.78
Name: Percent Score final, dtype: float64

In [162]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [163]:
clf.fit(X_train,y_train)

LinearRegression()

In [164]:
y_pred = clf.predict(X_test)

In [165]:
clf.score(X_test, y_test)

0.5269115216834576

In [166]:
df6 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [167]:
df6 = pd.concat([df6,X_test], axis=1)
df6

,Actual,Predicted,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White
76,0.81,0.541078,934217,0,1,1,0.38,0.34,0,1,0,0,0,0,1,0,0
26,0.56,0.440076,961224,0,1,1,0.28,0.22,0,1,0,0,0,0,1,0,0
3,0.66,0.601151,961315,0,1,0,0.22,0.47,0,0,1,0,0,0,1,0,0
35,0.81,0.715332,962774,0,1,1,0.56,0.53,0,0,0,1,0,0,1,0,0
19,0.47,0.483997,968592,0,0,0,0.38,0.44,0,1,0,0,0,0,1,0,0
14,0.69,0.547146,310664,1,1,0,0.47,0.34,0,1,0,0,0,0,1,0,0
37,0.94,0.752786,313433,0,0,0,0.66,0.78,0,1,0,0,0,0,1,0,0
68,0.72,0.661693,965984,0,0,0,0.69,0.69,0,1,0,0,1,0,0,0,0
38,1.00,1.021368,962325,0,1,1,0.78,0.91,0,0,0,1,0,0,1,0,0
21,0.66,0.552478,979790,1,1,1,0.41,0.31,0,1,0,0,0,0,1,0,0
61,0.78,0.780098,971073,0,1,1,0.38,0.66,0,0,1,0,0,0,1,0,0
63,0.78,0.955641,962283,0,1,1,0.53,0.91,1,0,0,0,0,0,1,0,0
48,0.75,0.793901,312420,0,1,0,0.56,0.69,0,0,1,0,0,0,0,1,0
60,0.44,0.510338,990313,0,1,1,0.44,0.28,0,1,0,0,0,0,1,0,0
82,0.25,0.440061,954724,1,1,1,0.31,0.19,0,0,1,0,0,1,0,0,0
41,0.69,0.754777,981048,0,1,1,0.59,0.59,0,1,0,0,0,0,1,0,0
59,0.75,0.804812,962203,0,1,1,0.47,0.69,0,1,0,0,0,0,1,0,0
45,0.78,0.852560,312417,0,1,0,0.53,0.78,0,0,1,0,0,0,0,1,0

In [169]:

df6['abs_diff'] = abs(df6['Actual'] - df6['Predicted'])
df6

,Actual,Predicted,Local ID,Special_Ed_Ind,Meal_Stat,CE,Percent Score mock 1,Percent Score mock 2,LEP_First Year of Monitoring,LEP_LEP,LEP_Other Non-LEP Student,LEP_Second Year of Monitoring,Ethnicity_Asian,Ethnicity_Black/African American,Ethnicity_Hispanic,Ethnicity_Two or More Races,Ethnicity_White,abs_diff
76,0.81,0.541078,934217,0,1,1,0.38,0.34,0,1,0,0,0,0,1,0,0,0.268922
26,0.56,0.440076,961224,0,1,1,0.28,0.22,0,1,0,0,0,0,1,0,0,0.119924
3,0.66,0.601151,961315,0,1,0,0.22,0.47,0,0,1,0,0,0,1,0,0,0.058849
35,0.81,0.715332,962774,0,1,1,0.56,0.53,0,0,0,1,0,0,1,0,0,0.094668
19,0.47,0.483997,968592,0,0,0,0.38,0.44,0,1,0,0,0,0,1,0,0,0.013997
14,0.69,0.547146,310664,1,1,0,0.47,0.34,0,1,0,0,0,0,1,0,0,0.142854
37,0.94,0.752786,313433,0,0,0,0.66,0.78,0,1,0,0,0,0,1,0,0,0.187214
68,0.72,0.661693,965984,0,0,0,0.69,0.69,0,1,0,0,1,0,0,0,0,0.058307
38,1.00,1.021368,962325,0,1,1,0.78,0.91,0,0,0,1,0,0,1,0,0,0.021368
21,0.66,0.552478,979790,1,1,1,0.41,0.31,0,1,0,0,0,0,1,0,0,0.107522
61,0.78,0.780098,971073,0,1,1,0.38,0.66,0,0,1,0,0,0,1,0,0,0.000098
63,0.78,0.955641,962283,0,1,1,0.53,0.91,1,0,0,0,0,0,1,0,0,0.175641
48,0.75,0.793901,312420,0,1,0,0.56,0.69,0,0,1,0,0,0,0,1,0,0.043901
60,0.44,0.510338,990313,0,1,1,0.44,0.28,0,1,0,0,0,0,1,0,0,0.070338
82,0.25,0.440061,954724,1,1,1,0.31,0.19,0,0,1,0,0,1,0,0,0,0.190061
41,0.69,0.754777,981048,0,1,1,0.59,0.59,0,1,0,0,0,0,1,0,0,0.064777
59,0.75,0.804812,962203,0,1,1,0.47,0.69,0,1,0,0,0,0,1,0,0,0.054812
45,0.78,0.852560,312417,0,1,0,0.53,0.78,0,0,1,0,0,0,0,1,0,0.072560

In [170]:
#convert back one hot encoding
#I did this manually in excel 
#export to excel
df6.to_csv(r'/Users/sukanyasravasti/LR_Math_Grade3.csv', index = False)