In [2]:
import pandas as pd 
import numpy as np

##Preprocessing-Grade4

In [68]:
df = pd.read_excel("Preprocessed_File.xlsx",sheet_name="Sheet3")

In [69]:
df

     Local ID Special Ed Indicator  ... Masters Grade Level_12 Date Taken_12
0      931151                   No  ...                     No      05/01/18
1      946825                   No  ...                     No      05/01/18
2      966007                   No  ...                     No      05/01/18
3      324370                   No  ...                     No      05/01/18
4      952823                   No  ...                     No      05/01/18
..        ...                  ...  ...                    ...           ...
211    950771                   No  ...                     No      05/01/18
212    948810                   No  ...                     No      05/01/18
213    970063                   No  ...                     No      05/01/18
214    324645                   No  ...                     No      05/01/18
215    948641                   No  ...                     No      05/01/18

[216 rows x 41 columns]

In [70]:
df[df['Raw_Score_8'] == 'None']

     Local ID Special Ed Indicator  ... Masters Grade Level_12 Date Taken_12
1      946825                   No  ...                     No      05/01/18
7      979491                   No  ...                     No      05/01/18
10     954270                   No  ...                     No      05/01/18
11     950460                   No  ...                     No      05/01/18
13     925879                  Yes  ...                     No      05/01/18
..        ...                  ...  ...                    ...           ...
206    961519                   No  ...                     No      05/01/18
207    320873                   No  ...                     No      05/01/18
209    947288                  Yes  ...                     No      05/01/18
213    970063                   No  ...                     No      05/01/18
215    948641                   No  ...                     No      05/01/18

[107 rows x 41 columns]

In [71]:
df.drop(['Local ID'],axis = 1,inplace = True)

In [72]:
##Checking for no. of records which are not useful
df[(df['Raw_Score_7'] == 'None') & (df['Raw_Score_8'] == 'None') & (df['Raw_Score_9'] == 'None') & (df['Raw_Score_10'] == 'None')]

    Special Ed Indicator  ... Date Taken_12
1                     No  ...      05/01/18
7                     No  ...      05/01/18
10                    No  ...      05/01/18
11                    No  ...      05/01/18
13                   Yes  ...      05/01/18
..                   ...  ...           ...
206                   No  ...      05/01/18
207                   No  ...      05/01/18
209                  Yes  ...      05/01/18
213                   No  ...      05/01/18
215                   No  ...      05/01/18

[99 rows x 40 columns]

In [55]:
## Converting Nones for table seperation
df['Raw_Score_7'] = df['Raw_Score_7'].replace("None",0)
df['Percent Score_7'] = df['Percent Score_7'].replace("None",0)
df['Raw_Score_8'] = df['Raw_Score_8'].replace("None",0)
df['Percent Score_8'] = df['Percent Score_8'].replace("None",0)
df['Raw_Score_9'] = df['Raw_Score_9'].replace("None",0)
df['Percent Score_9'] = df['Percent Score_9'].replace("None",0)
df['Raw_Score_10'] = df['Raw_Score_10'].replace("None",0)
df['Percent Score_10'] = df['Percent Score_10'].replace("None",0)
df['Raw_Score_11'] = df['Raw_Score_11'].replace("None",0)
df['Percent Score_11'] = df['Percent Score_11'].replace("None",0)
df['Raw_Score_12'] = df['Raw_Score_12'].replace("None",0)
df['Percent Score_12'] = df['Percent Score_12'].replace("None",0)

In [57]:
##Prioritizing Test Taken Dates. Most recent test scores are given most priority
df['Date Taken_7'] = 5
df['Date Taken_8'] = 4
df['Date Taken_9'] = 5 
df['Date Taken_10'] = 4
df['Date Taken_11'] = 3
df['Date Taken_12'] = 3

In [59]:
df_numeric = df.select_dtypes(include = ['int','float'])

In [61]:
df_categor = df.select_dtypes(exclude = ['int','float'])

In [66]:
df = pd.get_dummies(data=df,columns=df_categor.columns)

In [67]:
df

     Raw_Score_7  ...  Masters Grade Level_12_Yes
0             13  ...                           0
1              0  ...                           0
2             19  ...                           0
3             13  ...                           0
4             26  ...                           0
..           ...  ...                         ...
211           16  ...                           0
212           14  ...                           0
213            0  ...                           0
214           19  ...                           0
215            0  ...                           0

[216 rows x 80 columns]